.hero .hero-container .right img{
    margin-top: 20px;
 }

 section#first .section-content-title h1 {
    font-size: 30px;
 }

 section#first .section-content-title span {
    font-size: 40px;
 }

 .fifth-container div form div input {
    margin-bottom: 10px;
 }

 .fifth-container div form div button {
    margin-bottom: 35px;
 }

 .fifth-container div form div input, .fifth-container div form div button{
    width: 100%;
    transition: all 0.6s;
 }